<section id="container">

    <!--

    header start

    -->
    <header class="header fixed-top clearfix">
        <!--

        logo start

        -->
        <div class="brand">
            <a class="logo" href="index.html">
                <img alt="" src="images/logo.png"></img>
            </a>
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars"></div>
            </div>
        </div>
        <!--

        logo end

        -->
        <div id="top_menu" class="nav notify-row">
            <!--

              notification start 

            -->
            <ul class="nav top-menu">
                <!--

                 settings start 

                -->
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <i class="fa fa-tasks"></i>
                        <span class="badge bg-success">

                            8

                        </span>
                    </a>
                    <ul class="dropdown-menu extended tasks-bar">
                        <li>
                            <p class="">

                                You have 8 pending tasks

                            </p>
                        </li>
                        <li>
                            <a href="#">
                                <div class="task-info clearfix">
                                    <div class="desc pull-left">
                                        <h5>

                                            Target Sell

                                        </h5>
                                        <p>

                                            25% , Deadline  12 June’13

                                        </p>
                                    </div>
                                    <span class="notification-pie-chart pull-right" data-percent="45"></span>
                                </div>
                            </a>
                        </li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li class="external">
                            <a href="#">

                                See All Tasks

                            </a>
                        </li>
                    </ul>
                </li>
                <!--

                 settings end 

                -->
                <!--

                 inbox dropdown start

                -->
                <li id="header_inbox_bar" class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <i class="fa fa-envelope-o"></i>
                        <span class="badge bg-important">

                            4

                        </span>
                    </a>
                    <ul class="dropdown-menu extended inbox"></ul>
                </li>
                <!--

                 inbox dropdown end 

                -->
                <!--

                 notification dropdown start

                -->
                <li id="header_notification_bar" class="dropdown"></li>
                <!--

                 notification dropdown end 

                -->
            </ul>
            <!--

              notification end 

            -->
        </div>
        <div class="top-nav clearfix">
            <!--

            search & user info start

            -->
            <ul class="nav pull-right top-menu">
                <li></li>
                <!--

                 user login dropdown start

                -->
                <li class="dropdown"></li>
                <!--

                 user login dropdown end 

                -->
                <li></li>
            </ul>
            <!--

            search & user info end

            -->
        </div>
    </header>
    <!--

    header end

    -->
    <!--

    sidebar start

    -->
    <aside>
        <div id="sidebar" class="nav-collapse">
            <!--

             sidebar menu start

            -->
            <div class="leftside-navigation" style="overflow: hidden;" tabindex="5000">
                <ul id="nav-accordion" class="sidebar-menu">
                    <li>
                        <a class="active" href="index.html">
                            <i class="fa fa-dashboard"></i>
                            <span>

                                Dashboard

                            </span>
                        </a>
                    </li>
                    <li class="sub-menu dcjq-parent-li">
                        <a class="dcjq-parent" href="javascript:;">
                            <i class="fa fa-laptop"></i>
                            <span>

                                Layouts

                            </span>
                            <span class="dcjq-icon"></span>
                        </a>
                        <ul class="sub" style="display: none;"></ul>
                    </li>
                    <li class="sub-menu dcjq-parent-li"></li>
                    <li></li>
                    <li class="sub-menu dcjq-parent-li"></li>
                    <li class="sub-menu dcjq-parent-li"></li>
                    <li class="sub-menu dcjq-parent-li"></li>
                    <li class="sub-menu dcjq-parent-li"></li>
                    <li class="sub-menu dcjq-parent-li"></li>
                    <li class="sub-menu dcjq-parent-li"></li>
                    <li></li>
                </ul>
            </div>
            <!--

             sidebar menu end

            -->
                   <div id="ascrail2000" class="nicescroll-rails" style="width: 3px; z-index: auto; cursor: default; position: absolu…0px; left: 237px; height: 192px; opacity: 0; display: block;"></div>
            <div id="ascrail2000-hr" class="nicescroll-rails" style="height: 3px; z-index: auto; top: 189px; left: 0px; position:…e; cursor: default; display: none; width: 237px; opacity: 0;"></div>
        </div>
    </aside>
    <!--

    sidebar end

    -->
    <!--

    main content start

    -->
    <section id="main-content"></section>
    <!--

    main content end

    -->
    <!--

    right sidebar start

    -->
    <div class="right-sidebar"></div>
    <!--

    right sidebar end

    -->

</section>
<!--

 Placed js at the end of the document so the pages…

-->








        


<!-- User Dashboard -->

<section id="content" class="dashboard-container">


  <div class="container">
    <h2 class="text-left"><span style="color:#e65154;">My</span> Dashboard</h2>
  </div>

  <!-- Column 1 -->
    <div class="col-md-5 dashboard-info" style="margin: 30px 40px 40px 60px;">
        <h2 style="text-align:center;">My Classes</h2>
        <ul class="media-list">
            <% 5.times do |index| %>
                <li class="media course-listing <%= "last-course-listing" if index == 9 %>">
                    <div class="media-body">
                        
                        <div class="col-md-8">
                            <h3><%= link_to 'Micobiology', courses_path %></h3>
                            <p>Last Chapter Worked On: #CHAP<br>Date Started: MM/DD/YYYY<br> Total Notes Taken: #GOES HERE</p>
                        </div>
                        <div class="col-md-4" style="margin: 20px 0px 0px;">
                            <input type="text" value="43" class="dial" data-width="80%" data-displayInput=false>
                            <script>
                            $('.dial')
                            .trigger(
                            'configure',
                            {
                            "min":10,
                            "max":40,
                            "fgColor":"#FFFFF",
                            "skin":"tron",
                            "cursor":true
                            }
                            );
                            $(function() {
                            $(".dial").knob();
                            });
                            </script>
                        </div>
                    </div>
                        <% end %>
                  </li>
                </ul>

    </div>
    <!-- End Column 1 -->

    <!-- Coloumn 2 -->
    
    <div class="col-md-5 dashboard-info">
        <div class="col-md-8" style="margin:0px 0px 40px 75px;">

            <h3 style="text-align:center;"><%= link_to 'Start New Course', courses_path %></h3>
            <p style="text-align:center;">
                    <span class="glyphicon glyphicon-asterisk" style="font-size: 2.5em;"></span>
                    <br>Lorem ipsum dolor: sit amet, consectetur: adipisicing elit, sed:
            </p>
        </div>

        <!-- Look at Saved Notes -->
        <div class="col-md-8" style="margin:0px 0px 40px 75px;">
            <h3 style="text-align:center;"><%= link_to 'My Saved Notes', courses_path %></h3>
            <p style="text-align:center;">
                    <span class="glyphicon glyphicon-list-alt" style="font-size: 2.5em;"></span>
                    <br>Lorem ipsum dolor: sit amet, consectetur: adipisicing elit, sed:
            </p>
        </div>

        <!-- Start New Course -->
        <div class="col-md-8" style="margin:0px 0px 40px 75px;">
            <h3 style="text-align:center;"><%= link_to 'Track Progress', courses_path %></h3>
            <p style="text-align:center;">
                    <span class="glyphicon glyphicon-stats" style="font-size: 2.5em;"></span>
                    <br>Lorem ipsum dolor: sit amet, consectetur: adipisicing elit, sed:
            </p>
        </div>
</div><!-- End Column 2 -->





   

    
</section>













