



<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>


<!-- Header -->             
              <div class="row position-center">
              <div class="prf-contacts sttng">
                 
                </div>
                <form role="form" class="form-horizontal">
                </form>
              </end><!-- End Row -->

<!-- Personal Info --> 
              <div class="row position-center">
                <div class="prf-contacts sttng">
                   <h2>
                    <b>User Settings</b>
                  </h2>
                  <h2>
                    Personal Information
                  </h2>
                </div>
                <form role="form" class="form-horizontal">
                  
                  <div class="form-group">
                    <%= f.label :first_name, :class => 'col-lg-2 control-label' %>
                    <div class="col-lg-6">
                      <%= f.text_field :first_name, :autofocus => true, :class => 'form-control', :type => 'text' %>
                    </div>
                  </div>


                  <div class="form-group">
                    <%= f.label :last_name, :class => 'col-lg-2 control-label' %>
                    <div class="col-lg-6">
                      <%= f.text_field :last_name, :autofocus => true, :class => 'form-control', :type => 'text' %>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.label :email, :class => 'col-lg-2 control-label' %>
                    <div class="col-lg-6">
                      <%= f.email_field :email, :autofocus => true, :class => 'form-control', :type => 'text' %>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.label :description, :class => 'col-lg-2 control-label' %>
                    <div class="col-lg-6">
                      <%= f.text_area :description, :autofocus => true, :class => 'form-control', :type => 'text' %>
                    </div>
                  </div>


                 
                </form>
              </div><!-- End Row -->

<!-- Social Networks -->              
              <div class="row position-center">
                <div class="prf-contacts sttng">
                  <h2>
                    social networks
                  </h2>
                </div>
                <form role="form" class="form-horizontal">
                  
                  <div class="form-group">
                    <%= f.label :facebook_id, :class => 'col-lg-2 control-label' %>
                    <div class="col-lg-6">
                      <%= f.text_field :facebook_id, :autofocus => true, :class => 'form-control', :type => 'text' %>
                    </div>
                  </div>


                  <div class="form-group">
                    <%= f.label :twitter, :class => 'col-lg-2 control-label' %>
                    <div class="col-lg-6">
                      <%= f.text_field :twitter_handle, :autofocus => true, :class => 'form-control', :type => 'text' %>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.label :linkedin_id, :class => 'col-lg-2 control-label' %>
                    <div class="col-lg-6">
                      <%= f.text_field :linkedin_id, :autofocus => true, :class => 'form-control', :type => 'text' %>
                    </div>
                  </div>


                 
                </form>
              </div><!-- End Row -->

<!-- Pasword Reset -->              
              <div class="row position-center">
                <div class="prf-contacts sttng">
                  <h2>
                    Password Reset
                  </h2>
                </div>
                <form role="form" class="form-horizontal">
                  <div class="form-group">
                    <%= f.label :password, :class => 'col-lg-2 control-label' %>
                    <div class="col-lg-6">
                      <%= f.password_field :password, :autocomplete => "off", :class => 'form-control', :type => 'text' %><i>(leave blank if you don't want to change it)</i><br />
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.label :password_confirmation, :class => 'col-lg-2 control-label' %>
                    <div class="col-lg-6">
                      <%= f.password_field :password, :class => 'form-control', :type => 'text' %>
                    </div>
                  </div>


                  </form>
                </div><!-- End Row -->
<!-- Confirmation -->              
              <div class="row position-center">
                <div class="prf-contacts sttng">
                  <h2>
                    <b>Confirm Changes</b>
                  </h2>
                </div>
                <form role="form" class="form-horizontal">

                  <div class="form-group">
                    <%= f.label :password_confirmation, :class => 'col-lg-2 control-label' %>
                    <div class="col-lg-6">
                      <%= f.password_field :password, :class => 'form-control', :type => 'text' %><i>(we need your current password to confirm your changes)</i><br />
                    </div>
                  </div>

                  <div><%= f.submit "Update" %></div>
                  <% end %>

                  </form>
                </div><!-- End Row -->

<!-- Cancel Account -->              
              <div class="row position-center">
                <div class="prf-contacts sttng">
                  <h2>
                    Cancel My Account
                  </h2>
                </div>
                <form role="form" class="form-horizontal">

                  <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>


                  </form>
                </div><!-- End Row -->       



