<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {}) do |f| %>
  <%= devise_error_messages! %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>


  <div class="row position-center">
    <!--Personal Info Form Group-->
    <div class="prf-contacts sttng">
      <h2><b>User Settings</b></h2>
      <h2>Personal Information</h2>
    </div>
    <div class="form-horizontal">

      <div class="form-group">
        <%= f.label :first_name, :class => 'col-lg-2 control-label' %>
        <div class="col-lg-6">
          <%= f.text_field :first_name, :autofocus => true, :class => 'form-control', :type => 'text' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :last_name, :class => 'col-lg-2 control-label' %>
        <div class="col-lg-6">
          <%= f.text_field :last_name, :autofocus => true, :class => 'form-control', :type => 'text' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :graduation_year, :class => 'col-lg-2 control-label' %>
        <div class="col-lg-6">
          <%= f.text_field :graduation_year, :autofocus => true, :class => 'form-control', :type => 'text' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :degree, :class => 'col-lg-2 control-label' %>
         <div class="col-lg-6">
          <%= f.select :degree, options_for_select([["Undergraduate","undergraduate"],["MD","md"],["Masters","masters"],["PhD","phd"]]), :autofocus => true, :class => 'form-control', :type => 'text' %>
          </div>
      </div>

      <div class="form-group">
        <%= f.label :email, :class => 'col-lg-2 control-label' %>
                    <div class="col-lg-6">
                      <%= f.email_field :email, :autofocus => true, :class => 'form-control', :type => 'text' %>
                    </div>
                  </div>

      <div class="form-group">
                    <%= f.label :description, :class => 'col-lg-2 control-label' %>
                    <div class="col-lg-6">
                      <%= f.text_area :description, :autofocus => true, :class => 'form-control', :type => 'text' %>
                    </div>
      </div>
    </div>
    <!--END Personal Info Form Group-->
    <!--Social Networks Info Form Group-->
    <div class="prf-contacts sttng">
                  <h2>
                    social networks
                  </h2>
                </div>
                <div class="form-horizontal">
                  
                  <div class="form-group">
                    <%= f.label :facebook_id, :class => 'col-lg-2 control-label' %>
                    <div class="col-lg-6">
                      <%= f.text_field :facebook_id, :autofocus => true, :class => 'form-control', :type => 'text' %>
                    </div>
                  </div>


                  <div class="form-group">
                    <%= f.label :twitter, :class => 'col-lg-2 control-label' %>
                    <div class="col-lg-6">
                      <%= f.text_field :twitter_handle, :autofocus => true, :class => 'form-control', :type => 'text' %>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.label :linkedin_id, :class => 'col-lg-2 control-label' %>
                    <div class="col-lg-6">
                      <%= f.text_field :linkedin_id, :autofocus => true, :class => 'form-control', :type => 'text' %>
                    </div>
                  </div>
    </div>
    <!--END Social Networks Info Form Group-->
    <!--Password Confirmation Info Form Group-->
    <div class="prf-contacts sttng">
                  <h2>
                    Password Reset
                  </h2>
                </div>
                <div class="form-horizontal">
                  <div class="form-group">
                    <%= f.label :password, :class => 'col-lg-2 control-label' %>
                    <div class="col-lg-6">
                      <%= f.password_field :password, :autocomplete => "off", :class => 'form-control', :type => 'text' %><i>(leave blank if you don't want to change it)</i><br />
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.label :password_confirmation, :class => 'col-lg-2 control-label' %>
                    <div class="col-lg-6">
                      <%= f.password_field :password_confirmation, :class => 'form-control', :type => 'text' %>
                    </div>
                  </div>
    </div>
    <!--END Password Confirmation Info Form Group-->
    <!--Update Info Form Group-->
    <div class="prf-contacts sttng">
                  <h2>
                    <b>Confirm Changes</b>
                  </h2>
                </div>
                <div class="form-horizontal">

                  <div class="form-group">
                    <%= f.label :current_password, :class => 'col-lg-2 control-label' %>
                    <div class="col-lg-6">
                      <%= f.password_field :current_password, :class => 'form-control', :type => 'text' %><i><b>(we need your current password to confirm your changes)</b></i><br />
                    </div>
                  </div>

                  <div><%= f.submit "Update", class:"btn btn-lg" %></div>
                  <% end %>
    </div>
    <!--END Update Info Form Group-->


    


  </div><!--End Row Centering-->

  

