<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), html: {class:"form-signin"}) do |f| %>
<%= devise_error_messages! %>
<h2 class="form-signin-heading">Enter your e-mail address below to reset your password.</h2>
<div class="login-wrap">
	<div class="user-login-info">
		<%= f.email_field :email, :autofocus => true, placeholder:"Email", class:"form-control" %>
	</div>
	<div class="modal-footer">
		<div class="row">
			<div class="col-md-6">
				<%= button_to "Cancel", root_path, class:"btn btn-grey", style:"left:0px"%>
					
			</div>
			<div class="col-md-6">
				<%= f.submit "Submit", class:"btn btn-success" %>
			</div>

			

		</div>
					

				
		
		
		
	</div>
	</div>
</div>
<% end %>





 


