<section class="wrapper">
  <!-- page start-->
  <div class="row">
    <% @courses.each do |course| %>
    <div class="col-md-3">
      <!--widget start-->
      <aside class="profile-nav alt">
        <section class="panel course-block">
          <div class="user-heading alt wdgt-row terques-bg">
            <a href="">
              <div class="corner-ribon black-ribon">
                <i style="font-size:20px;" class="fa fa-plus">
                </i>
              </div>
            </a>
            <h1>
              <%= course.name %>
            </h1>
          </div>
          
          <div class="panel-group m-bot20" id="<%= "#{course.name}-accordion" %>">
            <div class="panel">
              <div class="panel-heading">
                <h4 class="panel-title text-center">
                  <a class="text-center accordion-toggle collapsed" data-toggle="collapse" data-parent="#<%= "#{course.name}-accordion" %>" href="#<%= "accordion-#{course.name}" %>">
                    Chapters
                  </a>
                </h4>
              </div>
              <div id="<%= "accordion-#{course.name}" %>" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>
                          #
                        </th>
                        <th>
                          Chapter Name
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <% course.chapters.each do |chapter| %>
                      <tr>
                        <td>
                          <%= chapter.id %>
                        </td>
                        <td>
                          <%= chapter.name %>
                        </td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
      </aside>
      <!--widget end-->
    </div>
    <% end %>
  </div>
  <!-- page end-->
</section>