
l<section class="wrapper">
  <!-- page start-->
  <div class="row">
    <div class="col-sm-12">
      <section class="protected panel">
        <header class="panel-heading">
          <b>
          <%= "Chapter #{@chapter.number}: #{@chapter.name} Video" %>
        </b>
          <span class="tools pull-right">
            <a href="javascript:;" class="fa fa-chevron-down">
            </a>
          </span>
        </header>
        <div class="panel-body">
          <div class="col-sm-8">
            <div id="jp_container_1" class="jp-video jp-video-360p">
              <div class="jp-type-single">
                <div id="jquery_jplayer_1" class="jp-jplayer">
                </div>
                <div class="jp-gui">
                  <div class="jp-video-play">
                    <a href="javascript:;" class="jp-video-play-icon" tabindex="1">
                      play
                    </a>
                  </div>
                  <div class="jp-interface">
                    <div class="jp-progress">
                      <div class="jp-seek-bar">
                        <div class="jp-play-bar">
                        </div>
                      </div>
                    </div>
                    <div class="jp-current-time">
                    </div>
                    <div class="jp-duration">
                    </div>
                    <div class="jp-controls-holder">
                      <ul class="jp-controls">
                        <li>
                          <a href="javascript:;" class="jp-play" tabindex="1">
                            play
                          </a>
                        </li>
                        <li>
                          <a href="javascript:;" class="jp-pause" tabindex="1">
                            pause
                          </a>
                        </li>
                        <li>
                          <a href="javascript:;" class="jp-stop" tabindex="1">
                            stop
                          </a>
                        </li>
                        <li>
                          <a href="javascript:;" class="jp-mute" tabindex="1" title="mute">
                            mute
                          </a>
                        </li>
                        <li>
                          <a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">
                            unmute
                          </a>
                        </li>
                        <li>
                          <a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">
                            max volume
                          </a>
                        </li>
                      </ul>
                      <div class="jp-volume-bar">
                        <div class="jp-volume-bar-value">
                        </div>
                      </div>
                      <ul class="jp-toggles">
                        <li>
                          <a href="javascript:;" class="jp-full-screen" tabindex="1" title="full screen">
                            full screen
                          </a>
                        </li>
                        <li>
                          <a href="javascript:;" class="jp-restore-screen" tabindex="1" title="restore screen">
                            restore screen
                          </a>
                        </li>
                        <li>
                          <a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">
                            repeat
                          </a>
                        </li>
                        <li>
                          <a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">
                            repeat off
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="jp-no-solution">
                  <span>
                    Update Required
                  </span>
                  To play the media you will need to either update your browser to a recent version or update your 
                  <a href="http://get.adobe.com/flashplayer/" target="_blank">
                    Flash plugin
                  </a>
                  .
                </div>
              </div>
            </div>
          </div>
          <div style="margin-top:4%;" class="col-sm-4">
            <div class=" text-justify">
              <b>
                <%= @chapter.description %>
              </b>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-9">
      <section class="protected panel">
        <header class="panel-heading">
          <b>
          <%= "Chapter #{@chapter.number}: #{@chapter.name}" %>
          </b>
          <span class="tools pull-right">
            <a href="javascript:;" class="fa fa-chevron-down">
            </a>
          </span>
        </header>
        <div class="panel-body">
          <%= render text: @partial_file.result(binding).force_encoding('utf-8').html_safe %>
        </div>
        
      </section>
       <section class="panel">
        <header class="panel-heading">
          <b>
          <%= "Chapter #{@chapter.number}: #{@chapter.name} References" %>
          </b>
          <span class="tools pull-right">
            <a href="javascript:;" class="fa fa-chevron-down">
            </a>
          </span>
        </header>
        <div class="panel-body">
          <!-- TODO -->
          <ul>
            <li> -  </li>
            <li> -  </li>
          </ul>
        </div>
        
      </section>
    </div>
    <div class="col-sm-3">
      <section class="panel">
        <header class="panel-heading">
          <b>USMLE Step 1 Review</b>
          <span class="tools pull-right">
            <a href="javascript:;" class="fa fa-chevron-down">
            </a>
          </span>
        </header>
        <div class="panel-body">
          <!-- TODO -->
        </div>
        
      </section>
    </div>
  </div>
  <!-- MJ TESTING -->
      <div id="disqus_thread"></div>
    <!-- END MJ TESTING -->
   <script> <%= disqus_sso(current_user) %> </script>
       <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'medectomy'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    
</section>