<!--sidebar-left start-->
<aside>
    <div id="sidebar" class="nav-collapse" style="margin-top:80px;">
        
        <% if current_user.courses.nil? %>
        <div> Enroll in a course to get started!</div>
        <% else %>
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <% current_user.courses.each do |course| %>
            <li class="sub-menu">
                <a class="<%= 'active' if @course.id == course.id  %>" href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span><%= course.name %></span>
                </a>
                <ul class="sub">
                    <% course.chapters.order("number ASC").each do |chapter| %>
                    <li class="<%= "active" if @chapter.id == chapter.id  %>"><a href="<%= chapter_path(chapter) %>"><%="#{chapter.number}-#{chapter.name}"%></a></li>
                    <% end %>
                </ul>
            </li>
            <% end %>
        </ul>
        <!-- sidebar menu end-->
        <% end %>
    </div>
</aside>
<!--sidebar-left end-->