<!DOCTYPE html>
<html>
<head>
  <title>Medectomy</title>
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body class="login-body">
	<section id="container">
	<%= render partial: "layouts/header" %>
    <%= render partial: "layouts/messages" %>
	<div class="error">
	  <%= devise_error_messages! %>
	 </div>
		<%= yield %>
	
<%= render partial: "layouts/sidebar_right" %>
</section>
</body>
</html>
